body {
	background: url(/i/stardust.png) repeat #313131;
	color: white;
	font-weight: 300;
}

h1 {
	max-width: 377px;
	width: 100%;
	height: 82px;
	text-indent: -9999px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/i/logo_wallblank-printery.png);
	margin-top: 64px;
	margin-bottom: 15px;
}

h2.tagline {
	margin: 40px auto 45px;
	text-align: center;
	font-size: 56px;
	font-family: 'Spinnaker', sans-serif;
}

/*
.tagline span {
	text-transform: uppercase;
}
*/

#circle {
	margin: 0 auto;
	margin-top: 54px;
	width: 44px;
}

.inner-circle {
	height: 8px;
	width: 8px;
	border-radius: 4px;
	background: #EC1D1D;
	display: inline-block;
	margin: 2px;
}

.section {
	margin: 20px 16px 50px 16px;
	background: white;
	display: block;
	padding-bottom: 15px;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 1px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0px 0px 1px rgba(0,0,0,0.15);
}

img.inkjeticon {
	width:  127px;
	height: 90px;
	float: left;
	margin: 24px 1px 17px 44px;
	display: inline-block;
}

img.instagramicon {
	width:  140px;
	height: 140px;
	float: left;
	margin: 20px 20px 10px 35px;
}

img.letterpressicon {
	width:  130px;
	height: 129px;
	float: left;
	margin: 20px 20px 10px 35px;
}

img.photo {
	max-width: 780px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding: 10px;
}

h4 {
	padding: 25px 35px 0px 35px;
	color: #232729;
	font-family: "prenton-condensed-1","prenton-condensed-2",sans-serif;
	text-transform: uppercase;
	font-size: 1.7em;
	letter-spacing: .1em;
	font-weight: 300;
}

h3 {
	font-size: 1.7em;
	font-weight: 300;
	text-shadow: rgba(0,0,0,0.28) 0 1px 0;
	background: #232729;
	padding: 16px 20px;
	display: inline block;
	margin-top: 10px;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-bottom: 5px;
}

h3.getstarted {
	text-align: center;
	font-size: 3em;
	margin-left: 0;
	font-weight: 400;
	padding: 0.8em 0 0.58em 0;
	background: none;
	text-shadow: none;
	color: #232729;
}

.section h3 i {
	position: relative;
	top: 4px;
}

i.upload-header {
	color: #EC1D1D;
}

a {
	color: white;
	text-decoration: underline;
}

p a {
	color: #43A4DB;
}

a:hover {
	text-decoration: none;
}

p {
	line-height: 1.4em;
	font-size: 1.2em;
	margin-top: 10px;
	color: #353A3D;
	padding: 12px 35px 8px 35px;
}

p.about {
	padding: 10px 35px 10px 35px;
	max-width: 526px;
	display: inline-block;
}

ul {
	line-height: 1.6em;
	font-size: 1.2em;
	margin-top: 10px;
	color: black;
	padding: 10px 35px 0;
}

ul li a {
	color: #43A4DB;
}

footer {
	text-align: center;
	height: 3em;
	width: 100%;
	background: #CBD3D6;
	padding-top: 2em;
	color: #7C8488;
}

footer i {
	margin-left: 4px;
	margin-right: 1px;
}

ul.lst {
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
}

ul.lst li {
	display: block;
	padding: 3px 7px;
	overflow: hidden;
	border-bottom: 1px solid black;
	color: black;
}

ul.lst li span {
	float: left;
}

ul.lst li em {
	float: right;
	font-style: normal;
	font-weight: normal;
}

fieldset p {
	color: #313131;
	text-align: center;
	font: bold 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#content {
	max-width: 800px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	line-height: 1.2;
}

#cta {
	background-color: #F2F4F5;
	border-top: 16px solid #232729;
}

#ctacontent {
	max-width: 800px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	line-height: 1.2;
}

p.paperswitcher {
	text-align: center;
}

p.uploadoptions {
	margin-left: 3em;
	font-weight: bold;
}

p.uploadoptions i {
	font-size: 1.6em;
	position: absolute;
	padding-top: 3px;
}

i.dropbox {
	color: #007ee5;
}

i.upload {
	color: #EC1D1D;
}

i.email {
	color: #e5a500;
}

p i {
	margin-left: -1.6em;
	margin-right: .4em;
}

button {
	margin-top: 5px;
}

form {
	max-width: 465px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.4em;
}

.button-submit {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    float: right;
	margin-right: 3px;
}

.button-submit {
    background: rgb(110, 110, 110);
}

input#upload {
	margin-top: .75em;
	color: rgb(110, 110, 110);
}

@media only screen
and (max-width : 500px) {
	p.about {
		max-width: none;
	}
	h2.tagline {
		font-size: 41px;
		padding: 0px 20px;
	}
	h1 {
		width: 280px;
		height: 60px;
		background-size: 280px;
	}
}
